* {
  box-sizing: border-box;
}

.calendar {
  margin: 0 auto;
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 80%;
  min-height: 700px;
  background-color: rgb(221, 219, 219);
  border-radius: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.3rem;
  height: 15%;
}

.but {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 2.5rem;
}

.but button {
  border-radius: 1rem;
  border: none;
  background-color: pink;
  margin: 0.3rem;
  cursor: pointer;
  width: 20%;
  height: 100%;
}

.but button:hover {
  background-color: orange;
}

table {
  margin: 1.3rem;
  width: 90%;
  height: 30rem;
  border-radius: 1rem;
}

td {
  border: 1px solid orange;
  padding: 0.35rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #fff;
}

tr:hover,
td:hover {
  background-color: orange !important;
}

th {
  padding: 0.35rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  background-color: pink;
  border-radius: 1rem;
}

tr:nth-child(even) td {
  background-color: pink;
}
